<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mooc.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.mooc.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="userName"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>

    <sql id="BaseSql">
        id,username,sex,password,age,mobile,address
    </sql>

    <select id="getUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="BaseSql"/>
        from tb_user
        where
        id = #{id}
    </select>

    <select id="selectUsers" resultMap="BaseResultMap">
        select
        <include refid="BaseSql"/>
        from tb_user
    </select>
</mapper>